<div>
  {{#each cartItems as |item|}}
    <div class="col-md-4">
      <div class="card {{item.type}}" style="width: 18rem">
        <img src="{{item.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{item.scent}} - {{item.size}}</p>
          <p>${{item.price}}</p>
          <a href="#" class="btn btn-primary">Remove from cart</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>