
    <section>
    <h1>PRODUCTS</h1>
    <button class="productButton" id="showAll">View all products</button>
    <button class="productButton" id="showCandles">View all candles</button>
    <button class="productButton" id="showSoaps">View all soaps</button>
    <button class="productButton" id="showScrubs">View all salt scrubs</button>
    <section id="candleHeader" class="hide">
      <h2>100% Clean Burning Soy Wax Candles:</h2>
      <p>Indulge the senses with luscious, clean burning candles. These
        delicious candles contain 100% organic soy wax with premium grade
        phthalate-free, carcinogen-free and toxin-free fragrance oils, and an
        eco wick that is lead and zinc free, which allows for a clean burn. Each
        candle is hand poured. The 7 oz candle will burn for 70+ hours and the
        3.5 candle will burn for 40+ hours.</p>
      <p>The lovely yogurt jar can be re-used in the kitchen, being both food
        safe & microwave safe. The soft illumination of the candlelight aids in
        the relaxation of the body, helping how we feel emotionally and
        physically.</p>
    </section>
    <section id="soapHeader" class="hide">
      <h2>Organic Gentle Goat Milk Soaps 2 oz disk:</h2>
      <p>Nourish your skin and indulge your senses with lavish goat milk soap.
        This pure, organic goat milk soap is naturally high in vitamins
        (including nourishing vitamin E), minerals, and healthy fats. This
        creamy soap is vegetable based and has numerous skin benefits, including
        exceptional moisturizing properties, absorption capacity, and
        exfoliating power through alpha-hydroxy acids. Each soap is hand crafted
        and completely free of parabens, phthalates, carcinogens and is non
        toxic and suitable for all skin types including the most sensitive
      </p>
      <p>These beauties are packed with scent. Perfect for travel, gifting,
        treating yourself and everyday use.</p>
    </section>
    <section id="scrubHeader" class="hide">
      <h2>Whipped Pink Himalayan Salt Body Scrub</h2>
      <p>Indulge your senses with luxurious Whipped Pink Himalayan Salt Scrub, a pampering treat that transforms your skincare routine into a spa-like experience. This exquisite scrub is crafted with care, combining the finest pink Himalayan salt crystals, a rich, whipped goat milk that gently exfoliates and a clean non-toxic scent oil, leaving your skin feeling irresistibly smooth, radiant and nourished. Contains whipped goat milk, pink Himalayan salt, coconut oil and scented oil.  Every container of salt scrub is handcrafted and completely free of parabens, phthalates, carcinogens and is non toxic and suitable for all skin types including the most sensitive.</p>
    </section>
    <section class="products">
        {{#each products as |product|}}
         <div class="col-md-4">
            <div class="card {{product.type}}" style="width: 18rem">
               <img src="{{product.image}}" class="card-img-top" alt="...">
               <div class="card-body">
                  <p class="card-text">{{product.scent}} - {{product.size}}</p>
                  <p>${{product.price}}</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
               </div>
            </div>
         </div>
      {{/each}}
    </section>
    <section id="candleDisclaimer" class="hide">
      <h2>Candle Safety Disclaimer & Care</h2>
      <p>Disclaimer: Not intended for children. Never leave a candle burning
        unattended. Always keep items away from the flame. Please use care and
        precautions when using candles. Burn at your own risk. It is recommended
        to place a lit candle on a heat resistant coaster/surface to prevent any
        possibility of heat damage. Star Ray Design assumes no responsibility
        for any damage that may occur due to misuse of candles, and candle
        burning. Burn for 3-5 hour intervals.</p>
    </section>
    <section id="soapDisclaimer" class="hide">
      <h2>Soap Safety Disclaimer</h2>
      <p>Disclaimer: weight may vary slightly from bar to bar. Please avoid
        eyes. Do not ingest. Discontinue use if irritation occurs. For external
        use only. If allergic discontinue use.</p>
    </section>
    <script src="./js/shop.js"></script>
